html, body {
  margin: 0;
  padding: 0;
  background: #000;
  height: 100%;
  overflow: hidden;
}
#container, img, video, iframe {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  background: #000;
  border: 0;
}
