<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>EchoMosaic Streams</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='streams.css') }}">
</head>
<body>
<div id="mosaic" class="mosaic-grid cols-{{ mosaic_settings.cols }}">
  {% for stream_id, conf in stream_settings.items() %}
  <div class="mosaic-cell">
    <iframe src="{{ url_for('render_stream', stream_id=stream_id) }}" allow="autoplay" loading="lazy"></iframe>
  </div>
  {% endfor %}
</div>
</body>
</html>
